doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.main-header
      img(src='https://hips.hearstapps.com/veranda/assets/16/34/best-restaurants-beauty-essex.jpg')
    block content
